In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('learningSet.txt')

In [3]:
# Check for null values in the numerical columns.
# Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.
# Use appropriate EDA technique where ever necessary.

In [4]:
categorical = data.select_dtypes(object)

In [5]:
numerical = data.select_dtypes(include=np.number)

In [6]:
num_rows, num_columns = data.shape
print(num_rows, num_columns)

95412 481

In [7]:
num_rows, num_columns = categorical.shape
print(num_rows, num_columns)

95412 74

In [8]:
num_rows, num_columns = numerical.shape
print(num_rows, num_columns)

95412 407

In [9]:
null_values_by_column = numerical.isnull().sum()

print("Null values by column:")
print(null_values_by_column)

Null values by column:
ODATEDW         0
TCODE           0
DOB             0
AGE         23665
NUMCHLD     83026
            ...
TARGET_B        0
TARGET_D        0
HPHONE_D        0
RFA_2F          0
CLUSTER2      132
Length: 407, dtype: int64

In [10]:
print(categorical['GEOCODE2'].value_counts())
categorical['GEOCODE2'].isna().sum()

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

132

In [11]:
print(data['WEALTH1'].value_counts())
data['WEALTH1'].isna().sum()

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

44732

In [12]:
print(data['ADI'].value_counts())
data['ADI'].isna().sum()

13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 204, dtype: int64

132

In [13]:
print(data['DMA'].value_counts())
data['DMA'].isna().sum()

803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 206, dtype: int64

132

In [14]:
print(data['MSA'].value_counts())
data['MSA'].isna().sum()

0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 298, dtype: int64

132

In [15]:
categorical['GEOCODE2'] = categorical['GEOCODE2'].fillna(data['GEOCODE2'].mode()[0])
categorical['GEOCODE2'].replace(" ", categorical['GEOCODE2'].mode()[0], inplace=True)
categorical['GEOCODE2'].value_counts()

A    34803
B    28505
D    16580
C    15524
Name: GEOCODE2, dtype: int64

In [16]:
numerical['WEALTH1'] = numerical['WEALTH1'].fillna(numerical['WEALTH1'].mode()[0])
numerical['WEALTH1'].isna().sum()

0

In [17]:
numerical['ADI'] = numerical['ADI'].fillna(round(numerical['ADI'].mean()))
numerical['DMA'] = numerical['DMA'].fillna(round(numerical['DMA'].mean()))
numerical['MSA'] = numerical['MSA'].fillna(round(numerical['MSA'].mean()))

In [18]:
print(numerical['ADI'].isna().sum())
print(numerical['DMA'].isna().sum())
print(numerical['MSA'].isna().sum())

0
0
0