In [2]:
#Instructions
#Here we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the
# lessons.

#Check for null values in the numerical columns.

In [3]:
import pandas as pd
numeric = pd.read_csv('Numerical.csv')
numeric.head()

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,8901,0,3712,60.000000,0.0,NaN,0,0,39,34,...,10.0,9512,8911,9003.0,4.0,7.741935,95515,0,4,39.0
1,9401,1,5202,46.000000,6.0,9.0,16,0,15,55,...,25.0,9512,9310,9504.0,18.0,15.666667,148535,0,2,1.0
2,9001,1,0,61.611649,3.0,1.0,2,0,20,29,...,5.0,9512,9001,9101.0,12.0,7.481481,15078,1,4,60.0
3,8701,0,2801,70.000000,1.0,4.0,2,0,23,14,...,10.0,9512,8702,8711.0,9.0,6.812500,172556,1,4,41.0
4,8601,0,2001,78.000000,3.0,2.0,60,1,28,9,...,15.0,9601,7903,8005.0,14.0,6.864865,7112,1,2,26.0

In [18]:
numeric.shape

(95412, 322)

In [4]:
numeric.isna().sum() #checking nulls

ODATEDW     0
TCODE       0
DOB         0
AGE         0
INCOME      0
           ..
AVGGIFT     0
CONTROLN    0
HPHONE_D    0
RFA_2F      0
CLUSTER2    0
Length: 322, dtype: int64

In [17]:
Nanvalues = numeric.columns[numeric.isnull().any()].tolist() #checking nans

for column in Nanvalues:
    Nansum = numeric[column].isnull().sum()
    print(column, ":", Nansum)

WEALTH1 : 44732
WEALTH2 : 43823
MSA : 132
ADI : 132
DMA : 132
NEXTDATE : 9973
TIMELAG : 9973

In [19]:
numeric['WEALTH1'].fillna(0, inplace=True) #replacing nan with 0

In [22]:
numeric = numeric.drop(['WEALTH2', 'MSA','ADI', 'DMA', 'NEXTDATE', 'TIMELAG'], axis=1) #droping columns

In [25]:
numeric.isnull().sum() #checking

ODATEDW     0
TCODE       0
DOB         0
AGE         0
INCOME      0
           ..
AVGGIFT     0
CONTROLN    0
HPHONE_D    0
RFA_2F      0
CLUSTER2    0
Length: 316, dtype: int64

In [5]:
#Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.
#Use appropriate EDA technique where ever necessary.

In [6]:
categoric = pd.read_csv('categorical.csv')
categoric.head()

,OSOURCE,STATE,ZIP,CLUSTER,HOMEOWNR,GENDER,DATASRCE,SOLIH,VETERANS,RFA_2,RFA_2R,GEOCODE2,DOMAIN_A,DOMAIN_B
0,GRI,IL,61081,36.0,U,F,0.0,NaN,NaN,L4E,L,C,T,2
1,BOA,CA,91326,14.0,H,M,3.0,NaN,NaN,L2G,L,A,S,1
2,AMH,NC,27017,43.0,U,M,3.0,NaN,NaN,L4E,L,C,R,2
3,BRY,CA,95953,44.0,U,F,3.0,NaN,NaN,L4E,L,C,R,2
4,NaN,FL,33176,16.0,H,F,3.0,12.0,NaN,L2F,L,A,S,2

In [7]:
categoric.isna().sum()

OSOURCE       928
STATE           0
ZIP             0
CLUSTER         0
HOMEOWNR        0
GENDER       2957
DATASRCE        0
SOLIH       89212
VETERANS    84986
RFA_2           0
RFA_2R          0
GEOCODE2        0
DOMAIN_A        0
DOMAIN_B        0
dtype: int64

In [26]:
categoric = categoric.drop(['SOLIH', 'VETERANS','OSOURCE'], axis=1) #droping unecessary columns with nan

In [28]:
categoric['GENDER'].value_counts()

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [32]:
categoric['GENDER'].replace(['J', 'C', 'A'], 'U', inplace=True) #replacing with U

In [33]:
categoric['GENDER'].value_counts() #checking

F    51277
M    39094
U     2084
Name: GENDER, dtype: int64

In [34]:
categoric.isnull().sum() #checking for nulls

STATE          0
ZIP            0
CLUSTER        0
HOMEOWNR       0
GENDER      2957
DATASRCE       0
RFA_2          0
RFA_2R         0
GEOCODE2       0
DOMAIN_A       0
DOMAIN_B       0
dtype: int64

In [35]:
categoric['GENDER'].fillna('U', inplace=True) #Replacing nulls with U

In [36]:
categoric.isnull().sum() #rechecking for nulls

STATE       0
ZIP         0
CLUSTER     0
HOMEOWNR    0
GENDER      0
DATASRCE    0
RFA_2       0
RFA_2R      0
GEOCODE2    0
DOMAIN_A    0
DOMAIN_B    0
dtype: int64

In [37]:
categoric = categoric.drop(['GEOCODE2'], axis=1)  #column is not necessary because there is a state column